!!!
%html
  %head
    %title= C4
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", debug: Rails.env.development?
    = javascript_include_tag "c4"
    = csrf_meta_tags
  %body
    %div.header
      = image_tag 'c4.png'
      %span.headerTitle C4
    %div.messagePanel
    %div.document
      = yield

