!!!
%html
  %head
    %title= C4
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", debug: Rails.env.development?
    = javascript_include_tag "c4"
    = csrf_meta_tags
  %body
    %div.header
      %div.headerPanel
        = image_tag 'c4.png'
        %span.headerTitle= link_to 'C4', root_path
        = render partial: 'shared/menu' 
    %div.messagePanel
    %div.document
      = yield

